body {
    background-color: #ededed;
    margin: 0;
}
.navbar {
    font-weight: lighter;
    font-family: sans-serif;
    position: fixed;
    background: rgba(255,255,255, 0.8);
    z-index: 1000;
    border: none;
}
.navbar li {
    background: transparent;
}
.navbar-default{
    width: 100%;
    margin-bottom: 0;
}
ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: 5vh;
    z-index: 2;
}
ul.menu li {
    box-sizing: border-box;
    background: none;
    width: 10%;
    float: right;
}
ul.menu li a {
    color: #909090;
    text-decoration: none;
    display: block;
    padding: 10px;
}
ul.menu li a:hover {
    color: blue;
}
.nav-logo{
    max-width: 50px;
}
caption{
    text-align: center;

}
.headerBanner{
    width: inherit;
    top: 0px;
    padding: 3em;
    text-align: center;
    font-weight: lighter;
    font-family: sans-serif;
}
.carousel{
    margin-top: 30px;
}
.carousel-inner{
    height: 30em;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-family: sans-serif;
    line-height: 1.8;
    color: white;
    position: absolute;
    font-family: 'Vollkorn', serif;
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    font-family: 'Vollkorn', serif;
}
h3{
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 20px;
}
h6{
    text-align: left;
    font-weight: 200;
    color: white;
    font-family: 'Muli', sans-serif;
}
h4{
    text-transform: uppercase;
    font-weight: 200;
    font-family: 'Vollkorn', serif;
}
p{
    font-family: 'Muli', sans-serif;
}
section.jumbotron{
    background-image: url(../img/Sick-Girl-Happy.jpg);
    color: white;
    text-align: center;
    padding: 8vw 0;
    background-repeat: no-repeat;
    display: block;
    margin-top: 0;
    max-width: 100%;
    background-position: center;
}
section.jumbotron:hover{
    background-size: 170%;
    -moz-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
    text-decoration: none;
}
section.jumbotron h1{
    text-align: center;
    line-height: 1;
    position: relative;
    font-size: 26px;
}
a:hover{
    text-decoration: none;
}
.carousel-inner h1{
    height: 80vh;
    text-align: center;
    padding: 20px;
}
.text_block{
    background-color: rgba(0,0,0,.5);
    border-radius: 15px;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 5px 60px;
}
.block_weare{
    margin: 20px 20vw;
}
.item{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
.item h1{
    text-align: center;
    font-size: 55px;
}
.thumbnail{
    text-align: center;
    border: 4px solid #ddd;
}
.futbol{
    background-image: url(../img/futbolito.png);
    background-position: center;
    background-size: cover;
    width: auto;
    height: 200px;
    margin-top: 30px;
}
.futbol h3 a{
    color: #121895;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin: 40px;
    margin-bottom: 10px;
    font-weight: 900;
}
.thumbnailNews{
    border-radius: 20px;
    display: block;
    padding: 0;
    overflow: hidden;
    margin-bottom: 8vh;
}
.thumbnail_weare{
    border-radius: 10px;
    display: block;
    margin-bottom: 8vh;
    height: 50vh;
    margin: 10px;
    text-align: left;
    padding: 10px;
    overflow: hidden;
}
.jumbotron{
    margin: 0;
}
.google-maps {
    position: relative;
    padding-bottom: 20%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
    max-height: 300px;
}
.news{
    margin:30px;
}
footer.jumbotron{
    margin: 0;
    margin-bottom: 0;
    background-color: #353535;
}
.footer__contact{
    margin-right: 30px;
}
.newsletter{
    color: white;
    font-size: 16px;
}
.thumbnail_first{
    margin: 30px;
}
.footer_rrss {
    text-align: center;
    padding: 0;
    font-size: 1rem;
    color: white;
}
.footer_social{
    display: inline;
    font-size: 3em;
    margin: 0 .3em;
}
.footer_social:hover {
    color: #434343;
}
.jumbotron_weare{
    background-image: url(../img/slider2.jpg);
    background-position: center;
}
.jumbotron_weare_mision{
    background-image: url(../img/slider4.jpg);
    background-position: top;
    margin-top: 30px;
}
.jumbotron_weare h1{
    color: white;
    position: relative;
}
.jumbotron_weare_mision h1{
    color: white;
    position: relative;
}
.jumbotron_blog{
    background-image: url(../img/slider3.jpg);
    background-position: center;
}
.jumbotron_blog h1{
    color: white;
    position: relative;
}
.block_blog{
    margin: 20px 20vw;
}
.fab{
    color: white;
}
.div_news{
    border: 4px solid #ddd;
    float: center;
}
.jumbotron p a{
    font-size: 0.7em;
    margin: 0;
    line-height: 0.3;
}
.container_mision{
    padding: 30px 0;
}
.containerNews{
    margin-top: 50px;
    border-bottom: 1px solid #ddd;
    padding-bottom:20px;
}
article.containerNews img{
    max-width: 400px;
}
.btn-primary{
    margin: 10px;
    float: left;
}